/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */
.banner {
  background-size: cover;
  background-image:url("../images/background.png");
  display: flex;
  background-position: center;
  padding: 14% 4%;
  }

.container {
  width: 850px;
  margin: 0 auto;
}

.button-green {
  background-color: #6BC466;
  color: white;
  padding: 15px 25px;
  border-radius: 25px;
  display: inline-block;
  font-size: 20px;
}


.container h1 {
  color: white;
}

.text-white {
  color: white;
  opacity: .7;
  font-size: 20px;
}

h2 {
  text-align: center;
}

.cards { display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5%;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 0 5px rgb(200 200 200);
  width: 190px;
  border-radius: 3px;
  padding: 20px;
  border-radius: 7px;
  align-items: center;
}

.card img {
  width: 130px;
  height: 130px;
  text-align: center;
}

h3 {
  text-align: center;
  margin: 0;
  padding: 0;
}

.card p {
  text-align: center;
  font-size: 15px;
  color: grey;
}

.footer {
  background-color: #2c2b2b;
  background-size: cover;
  padding: 50px;
  text-align: center;
}

.inline-logos {
  display: flex;
  justify-content: center;
}

a {
  color: #6BC466;
  font-size: 30px;
  margin: 5px;
}

.footer p {
  color: lightgray;
}
